<html>
  <head>
    <title>my blog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    {% for post in posts %}
      <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }} </p>
      </div>
    {% endfor %}

    <div>
      <p>公開日: 2014/06/14, 12:14</p>
      <h2><a href="">2番目の投稿</a></h2>
      <p> こんにちは！ よろしくお願いします！ </p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <p>--------------------note------------------------</p>
    <h1>&lt;h1&gt;ヘッダー&lt;/h1&gt;</h1>
    <h2>&lt;h2&gt;サブのヘッダー&lt;/h2&gt;</h2>
    <h3>&lt;h3&gt;サブのサブのヘッダー&lt;/h3&gt;</h3>
    <p>...など&lt;h6&gt;まで</p>
    <p>&lt;p&gt;文章の段落&lt;/p&gt;</p>
    <p><em>&lt;em&gt;文章の強調&lt;/em&gt;</em></p>
    <p><strong>&lt;em&gt;さらに強調&lt;/strong&gt;</strong></p>
    <p>&lt;br&gt;はただの改行&lt;/br&gt;はない</p>
    <p>&lt;a href="https://whatever.url"&gt;リンク名&lt;a&gt;でリンク作成</p>
    <p>&lt;ul&gt;&lt;li&gt;第一の項目&lt;/li&gt;&lt;li&gt;第二の項目&lt;/li&gt;&lt;/ul&gt;でリスト作成</p>
    <ul><li>第一の項目</li><li>第二の項目</li></ul>
    <p>&lt;div&gt;&lt;/div&gt;はページないのセクションを定義</p>
    <div><p>新セクションだけど見た目は分からない</p></div>
  </body>
</html>
